@use "../../../../Assets/Vars.scss" as c;

.eventDetails {
  border: 2px solid c.$secondary;
  img {
    max-width: 100%;
    border: 20px solid c.$secondary;
  }
  .eventInfo {
    color: c.$tertiary;
    margin: 1em;
    .grid {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      .eventDates {
        p {
          text-transform: uppercase;
        }
        .stageName {
          font-weight: 600;
          font-size: 1.3em;
        }
        .date {
          font-size: 1.5em;
        }
      }
      h2 {
        font-weight: 500;
        text-align: right;
        font-size: 1.7em;
      }
    }
    .buyBtn {
      display: flex;
      justify-content: space-between;
      h3 {
        color: c.$primary;
        font-family: c.$fontPlayfair;
        font-size: 3em;
        font-weight: 100;
      }
      button {
        margin-top: 1em;
        padding: 0.5em 1em;
        background-color: c.$primary;
        border: none;
        font-size: 1.2em;
        font-weight: bold;
        a{
          color: white;
          text-decoration: none;
        }
      }
    }
    .genre {
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
    .description {
      color: c.$primary;
      white-space: pre-wrap;
    }
    .minutes {
      font-size: 1.2em;
      color: c.$primary;
      margin: 0.5em 0;
    }
    h4 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 2em;
    }
  }

  // ACTORS SCSS
  .actors {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    gap: 1em;
    .border {
      border: 1px solid c.$secondary;
      img {
        object-fit: cover;
        max-width: 100%;
        border: none;
      }
      h4 {
        text-align: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 1.2em;
        font-weight: 400;
        color: c.$primary;
      }
    }
  }
}
