ul {
  list-style-type: none;
  li {
    margin-top: 4em;
    padding: 0 1vw;
    display: inline-block;
    .activeLink {
      text-decoration: none;
      &:hover {
        color: red;
      }
    }
    
  }
}
