@use '../../../Assets/Vars.scss' as c;

.searchContainer {
	display: flex;
	align-items: center;
	border-bottom: 1px solid c.$tertiary;
	width: 33%;
	margin-left: auto;
	margin-bottom: 3em;
	.searchInput {
		border: none;
		color: c.$tertiary;
		outline: none;
		background: transparent;
	}
	.searchButton {
		background: none;
		border: none;
		cursor: pointer;
		padding: 0.3vw 3vw;
		color: c.$tertiary;
	}
}


